
venv/
.history/
__pycache__/
.idea/
logs/celery.log
celerybeat-schedule
.vscode/
setup.cfg
.env
**/migrations/**
!**/migrations
!**/migrations/__init__.py
.DS_Store
celerybeat.pid
app/logs/debug.log
app/logs/celery.log
.env
/k8s/secrets/
.pytest_cache
/env
db.sqlite3